body {
  background-color: rgba(183, 255, 147, 0.82);
  font: 400 1em/1.38 'Comic Sans MS';
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.text {
  float: left;
}

.wrapper {
  float: left;
  clear: both;
  width: 692px;
  height: 400px;
  margin: 34px 0 0 5.625%;
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 155px;
  height: 67px;
  margin-top: 41px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  text-align: center;
  color: rgb(151, 88, 0);
}

.container-1 {
  width: 800px;
  height: 269px;
  background: url('../images/f90ffb2f28211877ea2db2f11f6d5daf.jpeg') rgba(119, 57, 20, 0.96);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.container-2 {
  clear: both;
  width: 234px;
  height: 30px;
  margin: 61px 0 0 34.375%;
}

.container-2:hover {
  background-color: rgb(255, 255, 255);
}

.container-3 {
  clear: both;
  width: 800px;
  height: 128px;
  margin-top: 55px;
  background-color: rgba(119, 57, 20, 0.96);
}

.text-1 {
  margin: 48px 0 0 41.875%;
  font-size: 4.063em;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.text-2 {
  margin-left: 5.12821%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-3 {
  margin: 46px 0 0 5.625%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container ._button-1 {
  clear: both;
  z-index: 1;
  margin-left: 29.375%;
}

.container ._button-2 {
  z-index: 3;
  margin-left: 3.875%;
}

.container ._button-3 {
  z-index: 2;
  margin-left: 4.375%;
}