body {
  background-color: rgba(183, 255, 147, 0.82);
  font: 400 1em/1.38 'Comic Sans MS';
  color: rgb(0, 0, 0);
}

.container-3 p {
  margin-bottom: 1em;
}

.container {
  float: left;
}

.container .container {
  clear: both;
  width: 10.25%;
  height: 30px;
  margin: 88px 0 0 43.375%;
}

.container .container:hover,
.container-4:hover {
  background-color: rgb(255, 255, 255);
}

.text {
  float: left;
}

.wrapper {
  float: left;
  clear: both;
  width: 640px;
  height: 365px;
  margin: 28px 0 0 8.125%;
  overflow: hidden;
}

._button {
  display: block;
  float: left;
  height: 67px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  text-align: center;
  color: rgb(151, 88, 0);
}

.container-1 {
  width: 800px;
  height: 269px;
  background: url('../images/f90ffb2f28211877ea2db2f11f6d5daf.jpeg') rgba(119, 57, 20, 0.96);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.container-3 {
  clear: both;
  width: 684px;
  height: 781px;
  margin: 112px 0 0 6.875%;
  background-color: rgba(150, 74, 0, 0.96);
}

.container-4 {
  clear: both;
  width: 183px;
  height: 27px;
  margin: 26px 0 0 36.25%;
}

.text-1 {
  position: relative;
  z-index: 2;
  margin: 48px 0 0 41.875%;
  font-size: 4.063em;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.text-2 {
  margin: 6px 0 0 14.63415%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-3 {
  margin: 1px 0 0 0.2878299999%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-4 {
  margin: 1px 0 0 5.4474%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container ._button-1 {
  clear: both;
  width: 19.375%;
  margin: -73px 0 0 104.625%;
}

.container ._button-2 {
  position: relative;
  z-index: 6;
  width: 155px;
  margin: 41px 0 0 29.4375%;
}

.container ._button-3 {
  position: relative;
  z-index: 5;
  width: 155px;
  margin: 41px 0 0 3.5625%;
}

.container ._button-4 {
  position: relative;
  z-index: 3;
  width: 155px;
  margin: 41px 0 0 4.375%;
}